@import "tailwindcss";


@keyframes grow {
    from { transform: scaleX(0); opacity: 0; }
    to { transform: scaleX(1); opacity: 1; }
}

@keyframes drawLine {
    from {
        stroke-dasharray: 100;
        stroke-dashoffset: 100;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes drawCircle {
    from {
        stroke-dasharray: 190;
        stroke-dashoffset: 190;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.animate-draw-line {
    animation: drawLine 0.35s ease forwards;
}

.animate-draw-circle {
    animation: drawCircle 0.45s ease forwards;
}

.animate-grow {
    animation: grow 0.5s ease forwards;
}
